In [23]:
#print
print("Chhavi")

Chhavi

In [24]:
#This is a comment
print("Chhavi")

Chhavi

In [25]:
#declaring variables
num1 = 5
str1 = "John"
print(num1)
print(str1)

5
John

In [26]:
#types of variable
var1 = str(3) 
var2 = int(3)   
var3 = float(3)  
print(var3)

3.0

In [27]:
#string type
name = "Chhavi"
print(type(name))

<class 'str'>

In [28]:
#variable naming
myFirstName = "Chhavi"  #Camel
MyFirstName = "Chhavi"  #Pascal
my_first_name = "Chhavi" #Snake

In [29]:
#multiple assignment
name1, name2 = "Chhavi", "Annnaya"
print(name1)
print(name2)

Chhavi
Annnaya

In [30]:
#Global Variable
x = "chhavi"

def myfunc():
  print("Name : " + x)

myfunc()

Name : chhavi

In [31]:
#type()
num1 = 10
num2 = 7.0
num3 = 7+2j
print("Type of num1 : ", type(num1))
print("Type of num2 : ", type(num2))
print("Type of num3 : ", type(num3))

Type of num1 :  <class 'int'>
Type of num2 :  <class 'float'>
Type of num3 :  <class 'complex'>

In [32]:
#list
names = ["Chhavi", "Annanya", "Khushi"]
print(names[0])

Chhavi

In [33]:
#type casting
z = int("3") # z will be 3
print(type(z))

<class 'int'>

In [34]:
#Boolean
num1 = 20
num2 = 33

if num1 > num2:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [35]:
print(bool("Hello"))

True

In [37]:
#tuple
product = ('Microsoft', 'Xbox', 499.99)
print(product[0])  
print(product[1])  
print(product[2])
print(product)

Microsoft
Xbox
499.99
('Microsoft', 'Xbox', 499.99)

In [39]:
#sets
names = {"chhavi", "annanya", "ram"}
print(names)

{'annanya', 'chhavi', 'ram'}

In [40]:
#dictionary (key:value pair)
mydict = {
  "name": "Chhavi",
  "age": 21,
  "year": 2001
}
print(mydict)

{'name': 'Chhavi', 'age': 21, 'year': 2001}

In [43]:
#if elif else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")
#short way of writing if
#if a > b: print("a is greater than b")

a is greater than b

In [44]:
#while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [45]:
#while with else
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [46]:
#for loop
for x in "Chhavi":
  print(x)

C
h
h
a
v
i

In [48]:
#functions
#simple function
def my_function():
  print("Hello Chhavi")

my_function()

Hello Chhavi

In [49]:
#function with ARGUMENT
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Chhavi", "Garg")

Chhavi Garg

In [50]:
# Function with Default parameter value

def default_parameter(name = "Chhavi"):
  print("Name " + name)

default_parameter("Annanya")
default_parameter("John")
default_parameter()

Name Annanya
Name John
Name Chhavi

In [51]:
# Recursive Functions

def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 5
print("Factorial :", factorial(num))

Factorial : 120

In [52]:
#lambda function
double = lambda x: x+2
print(double(5))

7

In [53]:
#Arrays
cars = ["Ford", "Volvo", "BMW"]
arr_len = len(cars)
for x in cars:
  print(x)
print(arr_len)

Ford
Volvo
BMW
3

In [54]:
#Classes and Objects
class People:
  def __init__(self, name, year):
    self.name = name
    self.year = year

p1 = People("Chhavi", 2001)

print(p1.name)
print(p1.year)

Chhavi
2001

In [55]:
#methods inside class
class People:
  def __init__(self, name, year):
    self.name = name
    self.year = year
  def myfunc(self):
    print("Name : " + self.name)

p1 = People("John", 36)
p1.myfunc()

Name : John

In [59]:
#Inheritance
class Car:
    
    def __init__(self):
        print("Car is ready")

    def whoisThis(self):
        print("Car")

    def drive(self):
        print("Drive faster")

# child class
class Ford(Car):
    def __init__(self):
        super().__init__()
        print("Ford is ready")

    def whoisThis(self):
        print("Ford")

    def drivefast(self):
        print("Drive Ford faster")

car = Ford()
car.whoisThis()
car.drive()
car.drivefast()

Car is ready
Ford is ready
Ford
Drive faster
Drive Ford faster