# **NUMBERS**

In [11]:
# integer
num1 = 1
num2 = 35656222554887711
num3 = -3255522

print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'int'>
<class 'int'>

In [12]:
# float
num1 = 1.0
num2 =12E4

print(type(num1))
print(type(num2))

<class 'float'>
<class 'float'>

In [13]:
# complex
num1 = 3+5j
num2 = 5j
print(type(num1))
print(type(num2))

<class 'complex'>
<class 'complex'>

# **RANDOM NUMBERS**

In [14]:
# random numbers
import random
print(random.randrange(1, 20))

9

# **STRINGS**

In [15]:
# strings
# Multiline Strings
str1 = """My name is 
Chhavi Garg"""
print(str1)

My name is
Chhavi Garg

In [16]:
# string as array
str1 = "Chhavi Garg"
print(str1[1])

h

In [17]:
# length of string
print(len(str1))

11

In [18]:
# check for string
print("Garg" in str1)
# llly not in

True

In [23]:
# slicing strings
print(str1[2:5])
print(str1[:5])
print(str1[2:])
print(str1[-5:-2])

hav
Chhav
havi Garg
 Ga

In [25]:
# modifying string
print(str1.upper())
print(str1.lower())
print(str1.strip())
print(str1.replace("C", "J"))
print(str1.split(" "))

CHHAVI GARG
chhavi garg
Chhavi Garg
Jhhavi Garg
['Chhavi', 'Garg']

In [27]:
# String concatanation
fname = "Chhavi"
lname = "Garg"
fullname = fname + lname
print(fullname)
fullname1 = fname+" "+lname
print(fullname1)

ChhaviGarg
Chhavi Garg

In [28]:
# format strings
name = "Chhavi Garg"
txt = "My name is {}"
print(txt.format(name))

My name is Chhavi Garg

In [30]:
fname = "Chhavi"
lname = "Garg"
fullname = "My name is {1} {0}"
print(fullname.format(lname, fname))

My name is Chhavi Garg

In [31]:
# escape characters
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# **BOOLEAN**

In [32]:
# Boolean
print(bool("Hello"))
print(bool(15))

True
True

In [33]:
# false values
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [34]:
x = 200
print(isinstance(x, int))

True

# **LISTS**

In [37]:
#list
# ordered,changeable, allow duplicate
# A list can contain different data types
fruits = ["apple", "banana", "cherry"]
#fruits = list(("apple", "banana", "cherry"))
print(fruits)
print(len(fruits))
print(type(fruits))

['apple', 'banana', 'cherry']
3
<class 'list'>

In [40]:
# accessing list items
print(fruits[1])
print(fruits[-1])
print(fruits[2:3])
print("apple" in fruits)

banana
cherry
['cherry']
True

In [43]:
# change list items
fruits[1] = "orange"
print(fruits)
fruits[0:1]=["strawberry","papaya"]
print(fruits)
fruits.insert(2, "watermelon")
print(fruits)

['strawberry', 'orange', 'orange', 'cherry']
['strawberry', 'papaya', 'orange', 'orange', 'cherry']
['strawberry', 'papaya', 'watermelon', 'orange', 'orange', 'cherry']

In [44]:
# add items
fruits.append("mango")
print(fruits)

['strawberry', 'papaya', 'watermelon', 'orange', 'orange', 'cherry', 'mango']

In [46]:
# append list
num = [1,2,3]
fruits.extend(num)
print(fruits)

['strawberry', 'papaya', 'watermelon', 'orange', 'orange', 'cherry', 'mango', [1, 2, 3], 1, 2, 3]

In [59]:
# remove items
fruits.pop(5)
#fruits.remove("orange")
print(fruits)

['papaya', 'watermelon', 'orange', 'cherry', 'mango']

In [48]:
del fruits[0]
print(fruits)
# fruits.clear()

['papaya', 'watermelon', 'orange', 'cherry', 'mango', 1, 2, 3]

In [54]:
# looping through list
for x in fruits:
  print(x)

for i in range(len(fruits)):
  print(fruits[i])

i = 0
while i < len(fruits):
  print(fruits[i])
  i+=1

papaya
watermelon
orange
cherry
mango
1
2
3
papaya
watermelon
orange
cherry
mango
1
2
3
papaya
watermelon
orange
cherry
mango
1
2
3

In [63]:
# list Comprehension
[print(x) for x in fruits]

newlist = [x for x in fruits if "a" in x]
print(newlist)

newlist1 = [x for x in range(10)]
print(newlist1)

newlist2 = [x.upper() for x in fruits]
print(newlist2)

papaya
watermelon
orange
cherry
mango
['papaya', 'watermelon', 'orange', 'mango']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['PAPAYA', 'WATERMELON', 'ORANGE', 'CHERRY', 'MANGO']

In [66]:
# sort a list
fruits.sort()
print(fruits)

num = [100, 50, 65, 82, 23]
num.sort(reverse = True)
print(num)

fruits.reverse()
print(fruits)

['cherry', 'mango', 'orange', 'papaya', 'watermelon']
[100, 82, 65, 50, 23]
['watermelon', 'papaya', 'orange', 'mango', 'cherry']

In [67]:
# copy list
newfruits = fruits.copy()
print(newfruits)

['watermelon', 'papaya', 'orange', 'mango', 'cherry']

In [69]:
#joining two list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
list1.extend(list2)
print(list1)
print(list3)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

# **TUPLES**

In [70]:
#tuples
#ordered ,unchangeable, allows duplicate
#A tuple can contain different data types
fruits = ("apple", "banana", "cherry")
print(len(fruits))
print(type(fruits))

3
<class 'tuple'>

In [71]:
# access tuples
print(fruits[1])
print(fruits[2:5])
print("apple" in fruits)

banana
('cherry',)
True

In [74]:
# update tuple
# We cannot modify tuples directly
y = list(fruits)
y[1] = "kiwi"
fruits= tuple(y)
print(fruits)

y.append("orange")
fruits= tuple(y)
print(fruits)

y.remove("orange")
fruits= tuple(y)
print(fruits)

('apple', 'kiwi', 'cherry', 'orange')
('apple', 'kiwi', 'cherry', 'orange', 'orange')
('apple', 'kiwi', 'cherry', 'orange')

In [75]:
# unpacking a tuple
(red, green, pink, orange) = fruits
print(red)

apple

In [76]:
# loop through tuples
for x in fruits:
  print(x)

apple
kiwi
cherry
orange

In [78]:
# joining tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

mytuple = fruits * 2
print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'kiwi', 'cherry', 'orange', 'apple', 'kiwi', 'cherry', 'orange')

# **SETS**

In [81]:
#sets
#unordered, unchangeable, unindexed ,No duplicate
#A set can contain different data types
fruits = {"apple", "banana", "cherry", "apple"}
print(fruits)
print(len(fruits))
print(type(fruits))

{'cherry', 'apple', 'banana'}
3
<class 'set'>

In [82]:
#access set items
for x in fruits:
  print(x)

cherry
apple
banana

In [ ]:
#Once a set is created, you cannot change its items, but you can add new items.

In [84]:
# add set items
fruits.add("orange")
print(fruits)

{'cherry', 'orange', 'apple', 'banana'}

In [87]:
# remove set items
fruits.remove("orange")
# If the item to remove does not exist, remove() will raise an error.
print(fruits)
fruits.discard("apple")
print(fruits)

{'cherry', 'banana'}
{'cherry', 'banana'}

In [88]:
x = fruits.pop()
print(x)

cherry

In [89]:
# loop through sets
for x in fruits:
  print(x)

banana

In [90]:
# join sets (union) not +
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
#set1.update(set2)
set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [91]:
set1.intersection_update(set2)
print(set1)

set()

In [92]:
# symmetric difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'google', 'microsoft', 'banana'}

# **DICTIONARY**

In [96]:
#dictionary
#ordered , changeable, No duplicate keys
People = {
  "name": "Chhavi",
  "year": 2001
}
print(People["name"])
print(len(People))
print(type(People))

Chhavi
2
<class 'dict'>

In [102]:
# access dictionary
print(People.get("year"))
print(People.keys())
print(People.values())
print(People.items())
#checking key exixtance
print("name" in People)

2001
dict_keys(['name', 'year'])
dict_values(['Chhavi', 2001])
dict_items([('name', 'Chhavi'), ('year', 2001)])
True

In [106]:
# change items
People["year"] = 2002
print(People)

People.update({"year": 2020})

{'name': 'Chhavi', 'year': 2002, 'gender': 'female'}

In [107]:
# add items
People["gender"] = "female"
People.update({"age": 21})
print(People)

{'name': 'Chhavi', 'year': 2020, 'gender': 'female', 'age': 21}

In [108]:
# remove items
People.pop("age")
print(People)

{'name': 'Chhavi', 'year': 2020, 'gender': 'female'}

In [109]:
# looping through dictionaries
for x in People:
  print(People[x])

for x in People.values():
  print(x)

for x, y in People.items():
  print(x, y)

Chhavi
2020
female
Chhavi
2020
female
name Chhavi
year 2020
gender female

In [110]:
# copy dictionary
newdict = People.copy()
print(newdict)

{'name': 'Chhavi', 'year': 2020, 'gender': 'female'}

In [111]:
# nested dictionary
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily["child1"])

{'name': 'Emil', 'year': 2004}